header {
  height: 50px;
  background-color: rgb(3, 21, 39);

  .header-nav-list {
    list-style-type: none;
    width: 100%;

    li {
      float: left;
      margin: 10px;
      width: 200px;
      height: 30px;

      .nav-link {
        display: inline-block;
        width: 100%;
        height: 100%;
        color: white;
        text-decoration: none;
      }

      .clicked-link {

        background-color: deepskyblue;
      }
    }
  }
}