.orders-table {
  thead, tbody {
    tr {
      display: block;
      border-bottom: solid gray 1px;

      td, th {
        text-align: center;
        display: inline-block;
        width: 100px;
      }
    }
  }
}